.signup-box {
	top: -100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup-wrapper {
	width: 380px;
	padding: 20px 30px 20px 30px;
	background: #ffffff;
	border-radius: 10px;
	text-align: center;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.signup-wrapper header {
	font-style: italic;
	text-transform: uppercase;
	color: rgb(255, 213, 130);
	font-size: 55px;
	font-weight: 600;
	text-shadow: 1px 1px 4px black;
}

.signup-wrapper form {
	margin: 20px 0;
}

form .field {
	margin-bottom: 20px;
}

form .field .input-area {
	height: 50px;
	position: relative;
}

form input {
	height: 100%;
	outline: none;
	padding: 0 45px;
	font-size: 18px;
	background: none;
	caret-color: #a50fe1;
	border-radius: 5px;
	border: 1px solid #bfbfbf;
	border-bottom-width: 2px;
	transition: all 0.2s ease;
}

.field .input-area i {
	position: absolute;
	top: 50%;
	font-size: 18px;
	pointer-events: none;
	transform: translateY(-50%);
}

.input-area .icon {
	left: 15px;
	color: #bfbfbf;
	transition: color 0.2s ease;
}

.signup-wrapper a {
	color: #a50fe1;
	text-decoration: none;
}

.signup-wrapper a:hover {
	text-decoration: underline;
}

.signup-btn {
	text-transform: uppercase;
	outline: 0;
	background-color: rgb(255, 181, 33);
	width: 322px;
	border: 3;
	padding: 20px;
	padding-top: 20px;
	font-size: 14px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	border-radius: 6px;
	font-style: italic;
	transition: all 0.2s ease-in-out;
	font-size: larger;
	font-weight: bolder;
	border: none;
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

.signup-btn:hover {
	background: rgb(255, 227, 135);
	transform: scale(1.02);
}

.status-text {
	position: relative;
	top: 30px;
	padding-bottom: 20px;
}

.signup-ddown {
	padding-bottom: 30px;
}

.signup-ddown-input {
	position: relative;
	width: 314px;
	height: 50px;
	left: 1px;
	border-radius: 5px;
	border-color: rgb(175, 175, 175);
	/* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5); */
	cursor: pointer;
}
