.end {
	text-transform: uppercase;
	font-style: italic;
	padding: 20px;
	font-size: 50px;
	color: rgb(255, 181, 33);
	justify-content: center;
	align-items: center;
	text-align: center;
	text-shadow: 1px 1px 2px black;
}

.end h1 {
    color: black;
	text-shadow: 1px 1px 2px rgb(255, 181, 33);
}


.final-result {
    color: black;
	text-shadow: 1px 1px 2px grey;
}

/*
.answer-btn {
	text-transform: uppercase;
	outline: 0;
	background-color: #2F8DFF;

	width: 300px;
	border: 3;
	border-color: #FFFFFF;
	padding: 20px;
	padding-top: 20px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	display: block;
	margin:0 auto;
	border-radius: 6px;
	font-style: italic;
}


.answer-btn:hover {
	transition: all 0.2s ease-in-out;
	background: #9EDB9B;
	color: #010606;
}
*/