.end {
	text-transform: uppercase;
	font-style: italic;
	padding: 20px;
	font-size: 50px;
	color: rgb(255, 181, 33);
	justify-content: center;
	align-items: center;
	text-align: center;
	text-shadow: 1px 1px 2px black;
}

.end h1 {
    color: black;
	text-shadow: 1px 1px 2px rgb(255, 181, 33);
}


.final-result {
    color: black;
	text-shadow: 1px 1px 2px grey;
}
