.question-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flag {
	margin-bottom: 30px;
}

.answer-line {
	display: flex;
}

.main-container {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	
	grid-template-areas: 
	  
	  ". question timer";
}

.question-item {
	grid-area: question;
}

.timer-item {
	grid-area: timer;
	justify-self: start;
	align-self: center;
}

.question-answer-btn {
	text-transform: uppercase;
	outline: 0;
	background-color: rgb(255, 181, 33);
	width: 300px;
	border: 3;
	border-color: black;
	border-radius: 2px;
	padding: 20px;
	padding-top: 20px;
	color: black;
	font-size: 14px;
	cursor: pointer;
	display: block;
	margin:0 auto;
	font-style: italic;
	font-size: medium;
	font-weight: bold;

}

.question-answer-btn:hover {
	transition: all 0.2s ease-in-out;
	background: black;
	color: white;
}

.question-title {
	margin-bottom: 20px;
	color: black;
	font-size: 30px;
}


