.info {
	max-width: 700px;
	/* width: 100%; */
	margin-top: 15px;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);

	align-items: center;
	padding: 5px 15px;
}

.info h3 {
	font-size: medium;
	padding: 10px 0;
}

.info__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 10px;

	border-top: 1px solid lightgray;
}

.info__bottom p {
	font-size: small;
	color: gray;
}
